@font-face {
  font-family: 'Proxima Nova';
  font-weight: 400;
  src: url('../assets/fonts/ProximaNova-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 700;
  src: url('../assets/fonts/ProximaNova-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 800;
  src: url('../assets/fonts/ProximaNova-Extrabld.ttf') format('ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --border-bg: #ffdf8c;
  --black: #000;
  --white: #fff;
  --primary: #fe5f1e;
}

button {
  cursor: pointer;

  font-family: inherit;

  background-color: transparent;
  border: 0;
}
